# Python 缓存文件
__pycache__/
*.pyc

# 数据和结果文件
*.jpg
*.zip

results/t2i_generation
results/interleave_generation_cfg
/train/wandb
train/decoded_images/
train/debug_outputs/
# 操作系统特定的文件 (例如 macOS)
.DS_Store